# Exploring a DataFrame

In [1]:
import pandas as pd

In [2]:
dogs_dict = {
    'breed': ['Labrador', 'Poodle', 'Chow Chow', 'Schnauzer', 'Labrador', 'Chihuahua', 'Poodle', 'Chihuahua', 'Labrador', 'Labrador'],
    'color': ['Chocolate', 'White', 'Brown', 'Gray', 'Black', 'Brown', 'White', 'Black', 'Yellow', 'Black'],
    'name': ['Buddy', 'Lucy', 'Cooper', 'Riley', 'Bear', 'Bella', 'Daisy', 'Lola', 'Max', 'Stella'],
    'height_cm': [56, 43, 46, 49, 56, 18, 43, 18, 59, 56],
    'weight_kg': [25, 6, 23, 17, 29, 2, 7, 2, 29, 29],
    'date_of_birth': ['2013-07-01', '2016-10-11', '2011-10-12', '2014-09-01', '2017-01-20', '2015-04-20', '2017-01-20', '2015-08-25', '2017-01-20', '2017-10-05']
}

dogs = pd.DataFrame(dogs_dict)

In [3]:
dogs.head() # first 5 rows

       breed      color    name  height_cm  weight_kg date_of_birth
0   Labrador  Chocolate   Buddy         56         25    2013-07-01
1     Poodle      White    Lucy         43          6    2016-10-11
2  Chow Chow      Brown  Cooper         46         23    2011-10-12
3  Schnauzer       Gray   Riley         49         17    2014-09-01
4   Labrador      Black    Bear         56         29    2017-01-20

In [4]:
dogs.info() # shows the data types of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   breed          10 non-null     object
 1   color          10 non-null     object
 2   name           10 non-null     object
 3   height_cm      10 non-null     int64
 4   weight_kg      10 non-null     int64
 5   date_of_birth  10 non-null     object
dtypes: int64(2), object(4)
memory usage: 608.0+ bytes

In [5]:
dogs.shape # rows, columns

(10, 6)

In [7]:
dogs.describe() # summary statistics

       height_cm  weight_kg
count  10.000000   10.00000
mean   44.400000   16.90000
std    15.049548   11.56095
min    18.000000    2.00000
25%    43.000000    6.25000
50%    47.500000   20.00000
75%    56.000000   28.00000
max    59.000000   29.00000

In [9]:
dogs.values # returns a numpy array

array([['Labrador', 'Chocolate', 'Buddy', 56, 25, '2013-07-01'],
       ['Poodle', 'White', 'Lucy', 43, 6, '2016-10-11'],
       ['Chow Chow', 'Brown', 'Cooper', 46, 23, '2011-10-12'],
       ['Schnauzer', 'Gray', 'Riley', 49, 17, '2014-09-01'],
       ['Labrador', 'Black', 'Bear', 56, 29, '2017-01-20'],
       ['Chihuahua', 'Brown', 'Bella', 18, 2, '2015-04-20'],
       ['Poodle', 'White', 'Daisy', 43, 7, '2017-01-20'],
       ['Chihuahua', 'Black', 'Lola', 18, 2, '2015-08-25'],
       ['Labrador', 'Yellow', 'Max', 59, 29, '2017-01-20'],
       ['Labrador', 'Black', 'Stella', 56, 29, '2017-10-05']],
      dtype=object)

In [10]:
dogs.columns # returns a list of column names

Index(['breed', 'color', 'name', 'height_cm', 'weight_kg', 'date_of_birth'], dtype='object')

In [11]:
dogs.index # returns a list of row indices

RangeIndex(start=0, stop=10, step=1)