In [1]:
import pandas as pd
import numpy as np

In [2]:
dogs_dict = {
    'breed': ['Labrador', 'Poodle', 'Chow Chow', 'Schnauzer', 'Labrador', 'Chihuahua', 'Poodle', 'Chihuahua', 'Labrador', 'Labrador'],
    'color': ['Chocolate', 'White', 'Brown', 'Gray', 'Black', 'Brown', 'White', 'Black', 'Yellow', 'Black'],
    'name': ['Buddy', 'Lucy', 'Cooper', 'Riley', 'Bear', 'Bella', 'Daisy', 'Lola', 'Max', 'Stella'],
    'height_cm': [56, 43, 46, 49, 56, 18, 43, 18, 59, 56],
    'weight_kg': [25, 6, 23, 17, 29, 2, 7, 2, 29, 29],
    'date_of_birth': ['2013-07-01', '2016-10-11', '2011-10-12', '2014-09-01', '2017-01-20', '2015-04-20', '2017-01-20', '2015-08-25', '2017-01-20', '2017-10-05']
}

dogs = pd.DataFrame(dogs_dict)

## Common methods
- `.mean()`
- `.median()`
- `.mode()`
- `.min()`
- `.max()`
- `.var()`
- `.std()`
- `.sum()`
- `.quantile()`

In [3]:
dogs["height_cm"].mean()

44.4

In [4]:
dogs["date_of_birth"].min()

'2011-10-12'

In [5]:
dogs["date_of_birth"].max()

'2017-10-05'

In [6]:
def pct30(column):
    return column.quantile(0.3)

In [7]:
dogs["weight_kg"].agg(pct30)

6.699999999999999

In [8]:
dogs[['height_cm', 'weight_kg']].agg(pct30)

height_cm    43.0
weight_kg     6.7
dtype: float64

In [9]:
def pct40(column):
    return column.quantile(0.4)

In [10]:
dogs["weight_kg"].agg([pct30, pct40])

pct30     6.7
pct40    13.0
Name: weight_kg, dtype: float64

In [11]:
dogs["weight_kg"]

0    25
1     6
2    23
3    17
4    29
5     2
6     7
7     2
8    29
9    29
Name: weight_kg, dtype: int64

## Cummulative Statistics
- `.cumsum()`
- `.cummax()`
- `.cummin()`
- `.cumprod()`

In [12]:
dogs["weight_kg"].cumsum()

0     25
1     31
2     54
3     71
4    100
5    102
6    109
7    111
8    140
9    169
Name: weight_kg, dtype: int64

## Counting

In [13]:
vet_visits_dict = {
    'date': ['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10'],
    'breed': ['Labrador', 'Poodle', 'Chow Chow', 'Schnauzer', 'Labrador', 'Chihuahua', 'Poodle', 'Chihuahua', 'Labrador', 'Labrador'],
    'name': ['Buddy', 'Lucy', 'Cooper', 'Riley', 'Bear', 'Bella', 'Daisy', 'Lola', 'Max', 'Stella'],
    'weight_kg': [25, 6, 23, 17, 29, 2, 7, 2, 29, 29],
}

vet_visits = pd.DataFrame(vet_visits_dict)

In [14]:
unique_dogs = vet_visits.drop_duplicates(subset=['breed', 'name'])
print(unique_dogs)

         date      breed    name  weight_kg
0  2018-01-01   Labrador   Buddy         25
1  2018-01-02     Poodle    Lucy          6
2  2018-01-03  Chow Chow  Cooper         23
3  2018-01-04  Schnauzer   Riley         17
4  2018-01-05   Labrador    Bear         29
5  2018-01-06  Chihuahua   Bella          2
6  2018-01-07     Poodle   Daisy          7
7  2018-01-08  Chihuahua    Lola          2
8  2018-01-09   Labrador     Max         29
9  2018-01-10   Labrador  Stella         29

In [15]:
unique_dogs["breed"].value_counts(sort=True)

Labrador     4
Poodle       2
Chihuahua    2
Chow Chow    1
Schnauzer    1
Name: breed, dtype: int64

In [16]:
unique_dogs["breed"].value_counts(normalize=True)

Labrador     0.4
Poodle       0.2
Chihuahua    0.2
Chow Chow    0.1
Schnauzer    0.1
Name: breed, dtype: float64

## Grouped

In [17]:
dogs[dogs["color"] == "Black"]["weight_kg"].mean()

20.0

In [18]:
dogs.groupby("color")["weight_kg"].mean()

color
Black        20.0
Brown        12.5
Chocolate    25.0
Gray         17.0
White         6.5
Yellow       29.0
Name: weight_kg, dtype: float64

In [19]:
dogs.groupby("color")["weight_kg"].agg([min, max, sum])

           min  max  sum
color
Black        2   29   60
Brown        2   23   25
Chocolate   25   25   25
Gray        17   17   17
White        6    7   13
Yellow      29   29   29

In [20]:
dogs.groupby(["color", "breed"])["weight_kg"].mean()

color      breed
Black      Chihuahua     2.0
           Labrador     29.0
Brown      Chihuahua     2.0
           Chow Chow    23.0
Chocolate  Labrador     25.0
Gray       Schnauzer    17.0
White      Poodle        6.5
Yellow     Labrador     29.0
Name: weight_kg, dtype: float64

## Pivot Tables

In [21]:
dogs.pivot_table(values="weight_kg", index="color")

           weight_kg
color
Black           20.0
Brown           12.5
Chocolate       25.0
Gray            17.0
White            6.5
Yellow          29.0

In [22]:
dogs.pivot_table(values="weight_kg", index="color", aggfunc=np.median)

           weight_kg
color
Black           29.0
Brown           12.5
Chocolate       25.0
Gray            17.0
White            6.5
Yellow          29.0

In [23]:
dogs.pivot_table(values="weight_kg", index="color", aggfunc=[np.median, np.mean])

             median      mean
          weight_kg weight_kg
color
Black          29.0      20.0
Brown          12.5      12.5
Chocolate      25.0      25.0
Gray           17.0      17.0
White           6.5       6.5
Yellow         29.0      29.0

In [24]:
dogs.pivot_table(values="weight_kg", index="color", columns="breed", fill_value=0, margins=True)

breed      Chihuahua  Chow Chow  Labrador  Poodle  Schnauzer   All
color
Black              2          0        29     0.0          0  20.0
Brown              2         23         0     0.0          0  12.5
Chocolate          0          0        25     0.0          0  25.0
Gray               0          0         0     0.0         17  17.0
White              0          0         0     6.5          0   6.5
Yellow             0          0        29     0.0          0  29.0
All                2         23        28     6.5         17  16.9