In [1]:
import pandas as pd

dogs_dict = {
    'breed': ['Labrador', 'Poodle', 'Chow Chow', 'Schnauzer', 'Labrador', 'Chihuahua', 'Poodle', 'Chihuahua', 'Labrador', 'Labrador'],
    'color': ['Chocolate', 'White', 'Brown', 'Gray', 'Black', 'Brown', 'White', 'Black', 'Yellow', 'Black'],
    'name': ['Buddy', 'Lucy', 'Cooper', 'Riley', 'Bear', 'Bella', 'Daisy', 'Lola', 'Max', 'Stella'],
    'height_cm': [56, 43, 46, 49, 56, 18, 43, 18, 59, 56],
    'weight_kg': [25, 6, 23, 17, 29, 2, 7, 2, 29, 29],
    'date_of_birth': ['2013-07-01', '2016-10-11', '2011-10-12', '2014-09-01', '2017-01-20', '2015-04-20', '2017-01-20', '2015-08-25', '2017-01-20', '2017-10-05']
}

dogs = pd.DataFrame(dogs_dict)

In [2]:
dogs["height_m"] = dogs["height_cm"] / 100
print(dogs)

       breed      color    name  height_cm  weight_kg date_of_birth  height_m
0   Labrador  Chocolate   Buddy         56         25    2013-07-01      0.56
1     Poodle      White    Lucy         43          6    2016-10-11      0.43
2  Chow Chow      Brown  Cooper         46         23    2011-10-12      0.46
3  Schnauzer       Gray   Riley         49         17    2014-09-01      0.49
4   Labrador      Black    Bear         56         29    2017-01-20      0.56
5  Chihuahua      Brown   Bella         18          2    2015-04-20      0.18
6     Poodle      White   Daisy         43          7    2017-01-20      0.43
7  Chihuahua      Black    Lola         18          2    2015-08-25      0.18
8   Labrador     Yellow     Max         59         29    2017-01-20      0.59
9   Labrador      Black  Stella         56         29    2017-10-05      0.56

In [5]:
dogs["bmi"] = dogs["weight_kg"] / dogs["height_m"] ** 2
print(dogs.head())

       breed      color    name  height_cm  weight_kg date_of_birth  height_m  \
0   Labrador  Chocolate   Buddy         56         25    2013-07-01      0.56
1     Poodle      White    Lucy         43          6    2016-10-11      0.43
2  Chow Chow      Brown  Cooper         46         23    2011-10-12      0.46
3  Schnauzer       Gray   Riley         49         17    2014-09-01      0.49
4   Labrador      Black    Bear         56         29    2017-01-20      0.56

          bmi
0   79.719388
1   32.449973
2  108.695652
3   70.803832
4   92.474490

In [7]:
bmi_lt_100 = dogs[dogs["bmi"] < 100]
bmi_lt_100_height = bmi_lt_100.sort_values("height_cm", ascending=False)
bmi_lt_100_height[["name", "height_cm", "bmi"]]

     name  height_cm        bmi
8     Max         59  83.309394
0   Buddy         56  79.719388
4    Bear         56  92.474490
9  Stella         56  92.474490
3   Riley         49  70.803832
1    Lucy         43  32.449973
6   Daisy         43  37.858302
5   Bella         18  61.728395
7    Lola         18  61.728395